@tailwind base;

/* My css prefix */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::after,
*::before {
  display: block;
}
body {
  box-sizing: border-box;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img::before,
img::after {
  text-align: center;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
}

@tailwind components;
@tailwind utilities;

/* My coustome classes */
.nth-last-child\(n\+2\)\:border:nth-last-child(n + 2) {
  border-right-style: solid;
  border-right-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}
